* {
  margin: 0;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.gridItem {
  padding: 1em;
  border: 1px solid #353535;
  text-align: center;
}