* {
  margin: 0;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: darksalmon;
}

#header {
  /* border: 2px solid #353535; */
  background-color: crimson;
  flex: 1 0 12vh;
  text-align: center;
  line-height: 100px;
}

#header > h1 {
  /* border: 2px solid white; */
  height: 100%;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

/* main body of page  */
#container {
  width: 100vw;
  flex: 1 1 76vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 44px;
  background-color: #c4c4c4;
}

/* left div containing controls */
#controlPanel {
  flex: 0 1 20%;
  height: 600px;
  border: 20px solid crimson;
  border-radius: 25px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* control panel title */
.controlPanelTitle {
  border-bottom: double;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
/* title for each control box */
.control {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}

/* slider */
.sliderContainer {
  padding: 8px;
  margin: 10px auto;
  height: 140px;
  width: 80%;
  border: 1px solid #353535;
}

#gridRange {
  border: 2px solid blue;
  width: 60%;
  height: 48px;
  background: #d3d3d3;
  outline:black;
  padding: 6px 24px;
  display: block;
}
/* button style*/
input[type=button] {
  width: 72px;
  height: 32px;
  background-color: crimson;
  color: #fff;
  text-transform: uppercase;
}

.modeContainer {
  padding: 8px;
  margin: 10px auto;
  /* height: 44px; */
  width: 80%;
  line-height: 0;
  border: 1px solid #353535;
}
 .modeContainer > h3 {
/* color: blue; */
/* border: none; */
display: block;
padding: 8px;
/* border: 2px solid yellow; */
 }
.modeBtnContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
  /* border: 2px solid yellow; */
}
.modeBtn {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px;
  margin-left: 16px;
}

.clearContainer {
  padding: 8px;
  margin: 10px auto;
  height: 100px;
  width: 80%;
  border: 1px solid #353535;
}

#clearBtn {
  margin: 0 auto;
  display: block;
}

#gridContainer {
  flex: 0 1 auto;
  width: 600px;
  height: 600px;
  display: grid;
  border: 20px solid crimson;
  border-radius: 25px;
  margin-left: 44px;
  grid-template-rows: repeat(var(--grid-rows),1fr);
  grid-template-columns: repeat(var(--grid-cols),1fr);
}

.gridItem {
  background-color: #c4c4c4;
  /* padding: 1em; */
  border: 1px solid #353535;
  text-align: center;
}

/* .gridItemHover {
  background: #353535;
} */

#footer {
  flex: 0 0 12vh;
  /* border: 2px solid blue; */
  background-color: #353535;
}
